<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogSource" value="Parise.RECMLogSource"/>
		<add key="LogName" value="Parise RE Connection Monitor Log"/>
		<!--
			Database Connection String
		-->
		<add key="DBConnectionString" value="Data Source=dayton;Integrated Security=True"/>
		
		<add key="LoggingEnabled" value="true"/>
		
		<!--
			Fully qualified name of the stored procedure that cleans up the LOCKCONNECTIONS table
			Example: [REDatabaseName].[dbo].[CleanupDeadConnectionLocks]
		-->
		<add key="DeadLockSP" value="[UNFF].[dbo].[CleanupDeadConnectionLocks]"/>
		
		<!-- The number of licenses that must be in use before the monitor will attempt to free idle connections. -->
		<add key="NumLicenses" value="20"/>

		<!-- The least number of minutes a connection has to be idle before it becomes a bootable candidate. -->
		<add key="LeastMinutesIdle" value="120.0"/>
		
		<!-- The interval in seconds to check for idle connections -->
		<add key="PollingInterval" value="30000"/>	
	</appSettings>
</configuration>