<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogSource" value="Parise.RECMLogSource" />
    <add key="LogName" value="Raisers Edge Connection Monitor" />
    <!--
			RE Database Connection String
		-->
    <add key="DBConnectionString" value="Data Source=dayton;Initial Catalog=UNFF;Integrated Security=True" />
    <add key="LoggingEnabled" value="true" />
    <!--
			Fully qualified name of the stored procedure that cleans up the LOCKCONNECTIONS table
			Example: [REDatabaseName].[dbo].[CleanupDeadConnectionLocks]
		-->
    <add key="DeadLockSP" value="[UNFF].[dbo].[CleanupDeadConnectionLocks]" />
    <!-- The number of licenses that must be in use before the monitor will attempt to free idle connections. -->
    <add key="NumLicenses" value="1" />
    <!-- The least number of minutes a connection has to be idle before it becomes a bootable candidate. -->
    <add key="LeastMinutesIdle" value="10.0" />
    <!-- The interval in seconds to check for idle connections -->
    <add key="PollingInterval" value="30000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>