<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <add key="LogSource" value="Parise.RECMLogSource"/>
	  <add key="LogName" value="Parise RE Connection Monitor Log"/>
	  <!--
		RE Database Connection String
	-->
	  <add key="DBConnectionString" value="Data Source=dayton;Initial Catalog=UNFF;Integrated Security=True"/>

	  <add key="LoggingEnabled" value="true"/>

	  <!-- The number of licenses that must be in use before the monitor will attempt to free idle connections. -->
	  <add key="NumLicenses" value="20"/>

	  <!-- The least number of minutes a connection has to be idle before it becomes a bootable candidate. -->
	  <add key="LeastMinutesIdle" value="30.0"/>

	  <!-- The interval in seconds to check for idle connections -->
	  <add key="PollingInterval" value="30000"/>

	  <add key="ExcludedHosts" value="ITS-47809, DAYTON, BUCKEYE" />
	  <add key="ExcludedREUsers" value="Supervisor" />

	  <add key="EmailNotifications" value="true" />
	  <add key="EmailHost" value="mail.unf.edu" />
	  <add key="EmailFromAlias" value="recm_no_reply@unf.edu" />
	  <add key="EmailAddresses" value="n00148922@unf.edu" />	 
  </appSettings>
</configuration>