<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Parise.RaisersEdge.ConnectionMonitor.Properties.Settings.UNFFConnectionString"
            connectionString="Data Source=dayton;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Parise.RaisersEdge.ConnectionMonitor.Properties.Settings.masterConnectionString"
            connectionString="Data Source=dayton;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>