<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	<!-- Change the Data Source of this connection string to the SQL Instance RE is hosted on -->
    <add name="Parise.RaisersEdge.ConnectionMonitor.Properties.Settings.ServerConnectionString"
      connectionString="Data Source=dayton;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>